localhost {
    root * /usr/share/caddy
    encode gzip

    reverse_proxy /api/* gateway:8080
    reverse_proxy /files/* gateway:8080

    @static {
        not path /api/*
        not path /files/*
    }
    handle @static {
        try_files {path} /index.html
        file_server
    }

    tls internal
}